@import url('https://fonts.googleapis.com/css?family=Inconsolata');



footer {
	border-top: 1px solid #e3e7e9;
	background-color: #f7f9fa;
	padding: 2rem 2rem 5rem 2rem;
	margin-top: 3rem;
}

.navbar {
	background-color: transparent;
}


.container {
	padding-right: 30px;
    padding-left: 30px;
}

h1 {
	color: #4e4e4e;
	line-height: 2;
	font-family: 'Open Sans', monospace;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

h5 {
	font-family: 'Inconsolata', monospace;
	color: #4e4e4e;
	line-height: 1.3;
}

ul {
	padding-left: 0;
	list-style: none;
}

#workExperience,
#education,
#skill{
	margin-top: 5rem;
}

.work-entry,
.education-entry,
.skill-entry {
	margin-top:2rem;
	margin-bottom: 2rem;
}

.letter {
	width: 90%;
	color: #4e4e4e;
	font-size: 1rem;
	line-height: 2;
}

.note {
	padding: 5rem 0 2rem 0;
	font-family: 'Inconsolata', monospace;
	text-align: center;
	font-size: 12px;
}

.jumbotron {
	height: 100vh;
	background-color: #fff;
}

.card-text {
	line-height: 2;
	margin-top: 1.8rem;
	border-top: 1px dashed #FF6E79;
}

.text-label {
	color: #b7bec9;
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;
}

a {
	color: #4e4e4e;
	border-bottom: 1px dashed #FF6E79;
	text-decoration: none;
}

a:hover {
	color:#FF6E79;
	
	text-decoration: none;
	transition: color 0.3s ease;
}


.back {
	color: #232c39;
}



.nav-item {
	margin: 2rem 2rem 1rem 2rem;
}

.on {
	color:#FF6E79;
}

.skillItem {
    background-color: #f7f9fa;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    line-height: 32px;
    font-size: 12px;
    letter-spacing: 0.05em;
    height: 32px;
    padding: 0 12px;
    border-radius: 4px;
    margin-right: 1.6em;
    margin-bottom: 1.6em;
}


.date-text,
.special-text,
.location-text {
    line-height: 28px;
    font-size: 12px;
    letter-spacing: 0.05em;
}

.card {
	border:none;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.card:hover {
	border:none;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    top: -5px;
	transition: all 0.5s ease;
}

::selection {
	font-weight: lighter;
    background-color: #5e6977;
    color: #fff;
